html {
	
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #ff00ff;
	height: 50px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

nav {
	text-align: center;
}

section {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

footer {
	background-color: #ff00ff;
	height: 25px;
	text-align: center;
}

img {
	margin:5px 10px 5px 10px;
}